*{
    background-color: black;
    font-family: 'Times New Roman', Times, serif; 
    color: cornsilk;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  @media(min-width: 600px) {
    nav { flex-direction: row; }
    .flexbox{ flex-direction: row; }
  }

  nav a{
      flex: 1;
      align-items: center;
      text-align: center;
      margin: 0.25em;
      padding: 0.25em;
      text-decoration: none;
  }
  nav a:hover{
      background-color: rgb(126, 2, 2);
  }
  .flexbox{
    display: flex;
    flex-direction: row;
}
.flexbox > div{
    width: 95%;
    padding: 5px;
    margin: 0px;
    border: 1px solid rgb(126, 2, 2);
}
#heading{
    background-color:rgb(126, 2, 2);
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
h3{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }